*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f8faf8;
    color:#333;
}

header{
    background:#A8D5BA;
    padding:20px 8%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:#2f5d50;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:#2f5d50;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#6c63ff;
}

.hero{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:linear-gradient(
    135deg,
    #A8D5BA,
    #AED9E0,
    #FFF3B0,
    #D8B4F8
    );
}

.hero-content{
    max-width:700px;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    margin-bottom:25px;
}

button{
    background:#6C63FF;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
    font-size:1rem;
}

button:hover{
    transform:translateY(-3px);
    background:#5448ff;
}

.cards{
    padding:70px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.card{
    padding:30px;
    border-radius:20px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
}

.verde{
    background:#CBEED5;
}

.azul{
    background:#D6F1FF;
}

.amarelo{
    background:#FFF6C7;
}

.roxo{
    background:#EAD7FF;
}

.impacto{
    text-align:center;
    padding:80px 8%;
    background:#eef7f1;
}

.numeros{
    margin-top:40px;
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.numeros span{
    font-size:2.5rem;
    font-weight:bold;
    color:#2f7d57;
}

.btn-impacto{
    margin-top:40px;
}

.contato{
    text-align:center;
    padding:80px 8%;
}

.contato p{
    margin:20px auto;
    max-width:600px;
}

footer{
    background:#A8D5BA;
    text-align:center;
    padding:20px;
}