*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f4f9f4;
    color:#333;
    line-height:1.6;
}

header{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:3.5rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.3rem;
    max-width:700px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 28px;
    background:#4CAF50;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    background:#2e7d32;
}

section{
    padding:80px 10%;
}

.titulo{
    text-align:center;
    margin-bottom:50px;
    color:#2e7d32;
    font-size:2.2rem;
}

.titulo-branco{
    color:white;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#388e3c;
    margin-bottom:15px;
}

.estatisticas{
    background:#2e7d32;
    color:white;
    text-align:center;
}

.numeros{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:50px;
}

.numero h2{
    font-size:3rem;
}

.texto-final{
    text-align:center;
    max-width:900px;
    margin:auto;
    font-size:1.1rem;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:25px;
}

.fade{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .hero p{
        font-size:1rem;
    }

    .numeros{
        flex-direction:column;
        gap:30px;
    }
}